<!DOCTYPE html>
<html>
	<head>
		<title>TechFire</title>
		<script src="jquery.min.js"></script>
		<script src="vue.js"></script>
		<link rel="stylesheet" href="bootstrap.min.css" />
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-static-top">
	        <div class="container">
	            <div class="navbar-header">
	                <a class="navbar-brand" href="/index.html">TechFire</a>
	            </div>
	            <ul class="nav navbar-nav">
	                <li><a href="constants.html">Constants</a></li>
			<li><a href="firescope.html">FireScope</a></li>
			<li><a href="values.html">Values</a></li>
	            </ul>
	        </div>
	    </nav>

		<div id="main" class="container">
			<div class="jumbotron">
			  <h1>{{status}}</h1>
				<p v-if="errors.length==0">No errors reported</p>
				<p v-if="errors.length>0">
					Errors
					<ul>
						<li v-for="e in errors">{{e}}</li>
					</ul>
				</p>
			</div>

			<ul class="list-group">
				<li class="list-group-item" v-for="(a, idx) in auto.autonomi" v-on:click="setAuto(idx)" v-bind:class="{ active: auto.selected == idx }">{{a}}</li>
			</ul>
		</div>
	</body>

	<script type="text/javascript">
	var app = new Vue({
		el: '#main',
		data: {
			visionStatus: false,
			errors: ["Couldn't contact roboRIO."],
			auto: { selected: 0, autonomi: [] }
		},
		computed: {
			status: function() {
				if ( this.errors.length == 0 )
					return "Ready";
				else
					return "NOT READY";
			}
		},
        methods: {
			setAuto: function(idx) {
            	$.getJSON("/auto/set?index="+idx, function(res) {
                	$.getJSON("/auto/list", function(auto) {
                        Vue.set(app, 'auto', auto);
                	});
            	});
			}
        }
	});


	$.getJSON("/state/phone", function(data) {
        Vue.set(app, 'visionStatus', data.connected);
	});

	$.getJSON("/state/errors", function(errors) {
        Vue.set(app, 'errors', errors);
	});
	
	$.getJSON("/auto/list", function(auto) {
        Vue.set(app, 'auto', auto);
	});
	</script>
</html>
